.form{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    background-color: rgb(28, 0, 59);
}
.formbody{
    background-color: white;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.image{
 /* border-bottom: 1px solid gray; */
 height: 35%;
 width: 100%;
 display: flex;
 justify-content: center;
}
.image input{
    margin-top: 12px;
    border: 2px solid rgb(12, 0, 47);
    height: 80%;
    width: 17%;
    outline: none;
}
.fields{
    /* border: 1px solid gray; */
    height: 50vh;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.032) 0px 3px 8px;
}

.imageinfo{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 30px;
}
.imageinfo input{
    height: 23px;
    width: 240px;
    outline: none;
    border: none;
    padding: 5px;
    color: rgba(0, 0, 0, 0.915);
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn{
    width: 25%;
    height: 15%;
    margin: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 0, 61);
    border: none;
    border-radius: 5px;
    outline: none;
    margin-left: 38%;
    font-size: 16px;
    transition: 0.05s ease-in-out;
}
.btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(1, 8, 50, 0.937);
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.05s ease-in-out;
}
